body{
    background-color: #0D224F
}

.notF-total-container{
    padding-top: 12rem;
}

.br-2{
    border-radius: 2rem;

}

.notF-total-container ul li{
    transform: scale(1);
    transition: all .2s ease-out;
}

.notF-total-container ul li:hover{
    transform: scale(1.2);
    transition: all .2s ease-out;
}

@media (min-width: 768px) and (max-width: 992px) {

    .notF-total-container{
        padding-top: 11rem;
    }

}

@media (min-width: 576px) and (max-width: 768px){

    .notF-total-container{
        padding-top: 10rem;
    }

}
@media (min-width: 330px) and (max-width: 576px) {

    .notF-total-container{
        padding-top: 9.5rem;
    }

    
}

@media screen and (max-width: 330px) {

    .notF-total-container{
        padding-top: 9rem;
    }
    
}