.animate-start-app{
opacity: 0;
}


.animation-first-order{
opacity: 0;
-webkit-transform: scale(.5);
-webkit-animation: animationFirstOrder .05s linear .1s 1 forwards;

-moz-transform: scale(.5);
-moz-animation: animationFirstOrder .05s linear .1s 1 forwards;

transform: scale(.5);
animation: animationFirstOrder .05s linear .1s 1 forwards;
}

@-webkit-keyframes animationFirstOrder {
0% { -webkit-transform: scale(.5); opacity: 0; }
100%   { -webkit-transform: scale(1); opacity: 1; }
}
@-moz-keyframes  animationFirstOrder {
0% { -moz-transform: scale(.5); opacity: 0; }
100%   { -moz-transform: scale(1); opacity: 1; }
}
@keyframes animationFirstOrder {
0% { transform: scale(.5); opacity: 0; }
100%   { transform: scale(1); opacity: 1;  }
}



.animation-first-text{
opacity: 0;
-webkit-transform: scale(.8);
-webkit-animation: animationFirst .05s linear .3s 1 forwards;

-moz-transform: scale(.8);
-moz-animation: animationFirst .05s linear .3s 1 forwards;

transform: scale(.8);
animation: animationFirst .05s linear .3s 1 forwards;
}

@-webkit-keyframes animationFirst {
0% { -webkit-transform: scale(.8); opacity: 0; }
100%   { -webkit-transform: scale(1); opacity: 1; }
}
@-moz-keyframes  animationFirst {
0% { -moz-transform: scale(.8); opacity: 0; }
100%   { -moz-transform: scale(1); opacity: 1; }
}
@keyframes animationFirst {
0% { transform: scale(.8); opacity: 0; }
100%   { transform: scale(1); opacity: 1;  }
}



.animation-second-order{
opacity: 0;
-webkit-transform: scale(.5);
-webkit-animation: animationSecondOrder .05s linear .5s 1 forwards;

-moz-transform: scale(.5);
-moz-animation: animationSecondOrder .05s linear .5s 1 forwards;

transform: scale(.5);
animation: animationSecondOrder .05s linear .5s 1 forwards;
}

@-webkit-keyframes animationSecondOrder {
0% { -webkit-transform: scale(.5); opacity: 0; }
100%   { -webkit-transform: scale(1); opacity: 1; }
}
@-moz-keyframes  animationSecondOrder {
0% { -moz-transform: scale(.5); opacity: 0; }
100%   { -moz-transform: scale(1); opacity: 1; }
}
@keyframes animationSecondOrder {
0% { transform: scale(.5); opacity: 0; }
100%   { transform: scale(1); opacity: 1;  }
}



.animation-second-text{
opacity: 0;
-webkit-transform: scale(.8);
-webkit-animation: animationSecond .05s linear .7s 1 forwards;

-moz-transform: scale(.8);
-moz-animation: animationSecond .05s linear .7s 1 forwards;

transform: scale(.8);
animation: animationSecond .05s linear .7s 1 forwards;
}

@-webkit-keyframes animationSecond {
0% { -webkit-transform: scale(.8); opacity: 0; }
100%   { -webkit-transform: scale(1); opacity: 1; }
}
@-moz-keyframes  animationSecond {
0% { -moz-transform: scale(.8); opacity: 0; }
100%   { -moz-transform: scale(1); opacity: 1; }
}
@keyframes animationSecond {
0% { transform: scale(.8); opacity: 0; }
100%   { transform: scale(1); opacity: 1;  }
}



.animation-third-order{
opacity: 0;
-webkit-transform: scale(.5);
-webkit-animation: animationThirdOrder .05s linear .9s 1 forwards;

-moz-transform: scale(.5);
-moz-animation: animationThirdOrder .05s linear .9s 1 forwards;

transform: scale(.5);
animation: animationThirdOrder .05s linear .9s 1 forwards;

}

@-webkit-keyframes animationThirdOrder {
0% { -webkit-transform: scale(.5); opacity: 0; }
100%   { -webkit-transform: scale(1); opacity: 1; }
}
@-moz-keyframes  animationThirdOrder {
0% { -moz-transform: scale(.5); opacity: 0; }
100%   { -moz-transform: scale(1); opacity: 1; }
}
@keyframes animationThirdOrder {
0% { transform: scale(.5); opacity: 0; }
100%   { transform: scale(1); opacity: 1;  }
}



.animation-third-text{
opacity: 0;
-webkit-transform: scale(.8);
-webkit-animation: animationThird .05s linear 1.1s 1 forwards;

-moz-transform: scale(.8);
-moz-animation: animationThird .05s linear 1.1s 1 forwards;

transform: scale(.8);
animation: animationThird .05s linear 1.1s 1 forwards;
}

@-webkit-keyframes animationThird {
0% { -webkit-transform: scale(.8); opacity: 0; }
100%   { -webkit-transform: scale(1); opacity: 1; }
}
@-moz-keyframes  animationThird {
0% { -moz-transform: scale(.8); opacity: 0; }
100%   { -moz-transform: scale(1); opacity: 1; }
}
@keyframes animationThird {
0% { transform: scale(.8); opacity: 0; }
100%   { transform: scale(1); opacity: 1;  }
}


.animation-fourth-order{
opacity: 0;
-webkit-transform: scale(.5);
-webkit-animation: animationFourthOrder .05s linear 1.3s 1 forwards;

-moz-transform: scale(.5);
-moz-animation: animationFourthOrder .05s linear 1.3s 1 forwards;

transform: scale(.5);
animation: animationFourthOrder .05s linear 1.3s 1 forwards;

}

@-webkit-keyframes animationFourthOrder {
0% { -webkit-transform: scale(.5); opacity: 0; }
100%   { -webkit-transform: scale(1); opacity: 1; }
}
@-moz-keyframes  animationFourthOrder {
0% { -moz-transform: scale(.5); opacity: 0; }
100%   { -moz-transform: scale(1); opacity: 1; }
}
@keyframes animationFourthOrder {
0% { transform: scale(.5); opacity: 0; }
100%   { transform: scale(1); opacity: 1;  }
}



.animation-fourth-text{
opacity: 0;
-webkit-transform: scale(.8);
-webkit-animation: animationFourth .05s linear 1.5s 1 forwards;

-moz-transform: scale(.8);
-moz-animation: animationFourth .05s linear 1.5s 1 forwards;

transform: scale(.8);
animation: animationFourth .05s linear 1.5s 1 forwards;
}

@-webkit-keyframes animationFourth {
0% { -webkit-transform: scale(.8); opacity: 0; }
100%   { -webkit-transform: scale(1); opacity: 1; }
}
@-moz-keyframes  animationFourth {
0% { -moz-transform: scale(.8); opacity: 0; }
100%   { -moz-transform: scale(1); opacity: 1; }
}
@keyframes animationFourth {
0% { transform: scale(.8); opacity: 0; }
100%   { transform: scale(1); opacity: 1;  }
}



/*******************************************************Interview Resume*****************************************/

.interv-resume-list-item{
opacity: 0;
}

.fadeInUp {
   -webkit-animation-name: fadeInUp;
   animation-name: fadeInUp;
   -webkit-animation-duration: 1s;
   animation-duration: 1s;
   }
   @-webkit-keyframes fadeInUp {
   0% {
   opacity: 0;
   -webkit-transform: translate3d(0, 100%, 0);
   transform: translate3d(0, 100%, 0);
   }
   100% {
   opacity: 1;
   -webkit-transform: none;
   }
   }
   @keyframes fadeInUp {
   0% {
   opacity: 0;
   -webkit-transform: translate3d(0, 100%, 0);
   transform: translate3d(0, 100%, 0);
   }
   100% {
   opacity: 1;
   -webkit-transform: none;
   }
   } 

/***********************************************************Become DS container*************************************/

.become-ds-animation{
opacity: 0;
}

.fadeInLeft {
-webkit-animation-name: fadeInLeft;
animation-name: fadeInLeft;
-webkit-animation-duration: .4s;
animation-duration: .4s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}
@-webkit-keyframes fadeInLeft {
0% {
opacity: 0;
-webkit-transform: translate3d(-100%, 0, 0);
transform: translate3d(-100%, 0, 0);
}
100% {
opacity: 1;
-webkit-transform: none;
transform: none;
}
}
@keyframes fadeInLeft {
0% {
opacity: 0;
-webkit-transform: translate3d(-100%, 0, 0);
transform: translate3d(-100%, 0, 0);
}
100% {
opacity: 1;
-webkit-transform: none;
transform: none;
}
} 


.fadeInRight {
-webkit-animation-name: fadeInRight;
animation-name: fadeInRight;
-webkit-animation-duration: .4s;
animation-duration: .4s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}
@-webkit-keyframes fadeInRight {
0% {
opacity: 0;
-webkit-transform: translate3d(100%, 0, 0);
transform: translate3d(100%, 0, 0);
}
100% {
opacity: 1;
-webkit-transform: none;
transform: none;
}
}
@keyframes fadeInRight {
0% {
opacity: 0;
-webkit-transform: translate3d(100%, 0, 0);
transform: translate3d(100%, 0, 0);
}
100% {
opacity: 1;
-webkit-transform: none;
transform: none;
}
} 


/****************************************************Aspiring****************************************/


.aspiring-ds{
opacity: 0;
}

.contactScheduleAnimation{
   opacity: 0;
}
.zoomIn {
-webkit-animation-name: zoomIn;
animation-name: zoomIn;
-webkit-animation-duration: .7s;
animation-duration: .5s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}
@-webkit-keyframes zoomIn {
0% {
opacity: 0;
-webkit-transform: scale3d(.9, .9, .9);
transform: scale3d(.9, .9, .9);
}
50% {
opacity: 1;
}
}
@keyframes zoomIn {
0% {
opacity: 0;
-webkit-transform: scale3d(.9, .9, .9);
transform: scale3d(.9, .9, .9);
}
50% {
opacity: 1;
}
} 


/*********************************************Salary Progress Bar******************************/
.progress-bar{
   opacity: 0;
}

.progress1{
   opacity: 1;
   animation-fill-mode: both;
   -webkit-animation: progress1 .4s  forwards;
   
   -moz-animation: progress1 .4s forwards;
   
   animation: progress1 .4s forwards;
   }
   
   @-webkit-keyframes progress1 {
   0% { -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
      visibility: visible; }
   100%   { -webkit-transform: translateX(0);
      transform: translateX(0); }
   }
   @-moz-keyframes  progress1 {
   0% {-webkit-transform: translateX(-100%);
      transform: translateX(-100%);
      visibility: visible; }
   100%   { -webkit-transform: translateX(0);
      transform: translateX(0); }
   }
   @keyframes progress1 {
   0% { -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
      visibility: visible; }
   100%   { -webkit-transform: translateX(0);
      transform: translateX(0);  }
   }
   
   
   
   .progress2{
      opacity: 1;
   -webkit-animation: progress2 .4s forwards;
   
   -moz-animation: progress2 .4s forwards;
   
   animation: progress2 .4s forwards;
   animation-fill-mode: both;
   animation-delay: .2s;
   }
   
   @-webkit-keyframes progress2 {
   0% { -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
      visibility: visible; }
   100%   { -webkit-transform: translateX(0);
      transform: translateX(0); }
   }
   @-moz-keyframes  progress2 {
   0% {-webkit-transform: translateX(-100%);
      transform: translateX(-100%);
      visibility: visible; }
   100%   { -webkit-transform: translateX(0);
      transform: translateX(0); }
   }
   @keyframes progress2 {
   0% { -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
      visibility: visible;}
   100%   { -webkit-transform: translateX(0);
      transform: translateX(0);  }
   }
   
   
   
   .progress3{
      opacity: 1;
      -webkit-animation: progress3 .4s forwards;
      
      -moz-animation: progress3 .4s forwards;
      
      animation: progress3 .4s forwards;
      animation-fill-mode: both;
      animation-delay: .5s;
   }
   
   @-webkit-keyframes progress3 {
   0% { -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
      visibility: visible;}
   100%   { -webkit-transform: translateX(0);
      transform: translateX(0); }
   }
   @-moz-keyframes  progress3 {
   0% {-webkit-transform: translateX(-100%);
      transform: translateX(-100%);
      visibility: visible; }
   100%   { -webkit-transform: translateX(0);
      transform: translateX(0); }
   }
   @keyframes progress3 {
   0% { -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
      visibility: visible; }
   100%   {-webkit-transform: translateX(0);
      transform: translateX(0);  }
   }
/* .slideInLeft {
   -webkit-animation-name: slideInLeft;
   animation-name: slideInLeft;
   -webkit-animation-duration: 1s;
   animation-duration: 1s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
   }
   @-webkit-keyframes slideInLeft {
   0% {
   -webkit-transform: translateX(-100%);
   transform: translateX(-100%);
   visibility: visible;
   }
   100% {
   -webkit-transform: translateX(0);
   transform: translateX(0);
   }
   }
   @keyframes slideInLeft {
   0% {
   -webkit-transform: translateX(-100%);
   transform: translateX(-100%);
   visibility: visible;
   }
   100% {
   -webkit-transform: translateX(0);
   transform: translateX(0);
   }
   }  */



 /******************************************Scroll icon*************************************/

.scroll.vert-move {
   -webkit-animation: mover 1s infinite  alternate;
   animation: mover 1s infinite  alternate;
}
.scroll.vert-move {
   -webkit-animation: mover 1s infinite  alternate;
   animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
   0% { transform: translateY(0); }
   100% { transform: translateY(-10px); }
}
@keyframes mover {
   0% { transform: translateY(0); }
   100% { transform: translateY(-10px); }
}

/****************************************************Tution****************************************/

.finance-heading-animate{
   opacity: 0;
}

.fadeInUpTution {
   -webkit-animation-name: fadeInUpTution;
   animation-name: fadeInUpTution;
   -webkit-animation-duration: .3s;
   animation-duration: .3s;
   }
   @-webkit-keyframes fadeInUpTution {
   0% {
   opacity: 0;
   -webkit-transform: translate3d(0, 100%, 0);
   transform: translate3d(0, 100%, 0);
   }
   100% {
   opacity: 1;
   -webkit-transform: none;
   }
   }
   @keyframes fadeInUpTution {
   0% {
   opacity: 0;
   -webkit-transform: translate3d(0, 100%, 0);
   transform: translate3d(0, 100%, 0);
   }
   100% {
   opacity: 1;
   -webkit-transform: none;
   }
   } 



   .tution-total-card{
      opacity: 0;
   }
   .slideInRightTution {
      -webkit-animation-name: slideInRightTution;
      animation-name: slideInRightTution;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      }
      @-webkit-keyframes slideInRightTution {
      0% {
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      visibility: visible;
      }
      100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      }
      }
      @keyframes slideInRightTution {
      0% {
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      visibility: visible;
      }
      100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      }
      } 