.company-img{
  width: 12rem;
  border-radius: .5rem;

}

.slick-prev, .slick-next{
  transition: all .2s ease-out;
}

.slick-prev:hover, .slick-next:hover{
  transition: all .2s ease-out;
  transform: scale(1.1) translate(0,-50%);;
}


@media (min-width: 576px) and (max-width: 767px) {

  .company-img{
    width: 10rem;
    border-radius: .5rem;

  }
   
}

@media (min-width: 330px) and (max-width: 576px) {
    
  .company-img{
    margin: 0 auto;
    width: 12rem;
    border-radius: .5rem;

  }
    
}

@media screen and (max-width: 330px) {

  .company-img{
      margin: 0 auto;
      width: 12rem;
      border-radius: .5rem;
  
    }

  
    
}