.modal-content{
    border: 0;
}
#applyModal .modal-content, #scheduleCallModal .modal-content, #scheduleMeetModal .modal-content, #scheduleAdviser .modal-content, #moneyBackModal .modal-content, #talentFundModal .modal-content{
    border-radius: .9rem !important;
}

.apply-modal-sbmt-btn, .scheduleCall-modal-sbmt-btn, .scheduleMeetModal-modal-sbmt-btn, .scheduleAdviser-modal-sbmt-btn,  .moneyBackModal-modal-sbmt-btn{
    border-radius: 0 0 .9rem .9rem;
}

.apply-modal-icon-img{
    width: 2.5rem;
}

.apply-modal-icon-line{
    width: 2rem;
    height: .1rem;
    background-color: lightgray;
}

.apply-icon-blue-list{
    background-color: #EBF3FB;
    border-radius: 100%;
}

.apply-icon-blue{
    filter: invert(23%) sepia(75%) saturate(1501%) hue-rotate(190deg) brightness(100%) contrast(97%);

}

.modals-input-bgr{
    background-color: #F6F9FC;
}

#apply-modal-form >input::placeholder, .apply-input-select-flex > select, .apply-input-select-flex >input,  #apply-modal-form >textarea::placeholder,
#scheduleCall-modal-form >input::placeholder, #scheduleCall-modal-form >textarea::placeholder, #scheduleCall-modal-form >label, #scheduleCall-modal-form .input-date, #scheduleCall-modal-form .input-time,
#scheduleMeetModal-modal-form >input::placeholder, #scheduleMeetModal-modal-form >textarea::placeholder, #scheduleMeetModal-modal-form >label, #scheduleMeetModal-modal-form .input-date, #scheduleMeetModal-modal-form .input-time,
#scheduleAdviser-modal-form >input::placeholder, #scheduleAdviser-modal-form >textarea::placeholder, #scheduleAdviser-modal-form >label, #scheduleAdviser-modal-form .input-date, #scheduleAdviser-modal-form .input-time{
    font-size: .8rem !important;
    line-height: .98rem !important;
    font-style: italic;
    color: #828DA6;
}

.modal-top-title{
    position: absolute;
    top: -2.5rem;
    left: 30%;
}

.modalApply-top-title{

    position: absolute;
    top: -2.5rem;
    left: 25%;

}


.modalCall-top-title{
    position: absolute;
    top: -2.5rem;
    left: 20%;
    right: 15%;

}
/***************************************Bootcamp program download Modal****************/

#downloadProgModal .modal-content{
    border-radius: 3rem 0 3rem 3rem;
}

.downloadProgModal-modal-sbmt-btn{
    border-radius: 100%;
}

.downloadProgModal-sbmt-img{
    width: 2rem;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

.downloadProgModal-input-btn-flex >input{
    border-radius: 1rem 0 0 1rem ;
}
.downloadProgModal-input-btn-flex >input::placeholder{
    font-size: .8rem !important;
    line-height: .98rem !important;
    font-style: italic;
    color: #828DA6;
}

/*******************************Talent fund Modal*********************/

.talentFundModal-modal-sbmt-btn{
    border-radius: .9rem 0 .9rem 0;
}

.input-time{
    width: 25%;
}

.input-date{
    width: 75%;
    position: relative;
}

.input-date::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}
@media (min-width: 1200px){

    .downloadProgModal-modal-sbmt-btn{
        border-radius: 100%;
        width: 3.6rem;
    }

    .talentFundModalLeft:after{
        content:"";
        position:absolute;
        top: 15%;
        right:0;
        width: .07rem;
        height: 70%;
        background:#0d224f25;
        opacity: .5;
    }

    .talentFund-large-title{
        position: absolute;
        top: -3.5rem;
    }
   
    .talentFund-large-title1{
        left: 20%;
    }

    .talentFund-large-title2{
        left: 40%;
    }

}



@media (min-width: 992px) and (max-width: 1199px) {

    .downloadProgModal-modal-sbmt-btn{
        border-radius: 100%;
        width: 3.5rem;
    }

    .talentFundModalLeft:after{
        content:"";
        position:absolute;
        top: 15%;
        right:0;
        width: .07rem;
        height: 70%;
        background:#0d224f25;
        opacity: .5;
    }

    .talentFund-large-title{
        position: absolute;
        top: -3.5rem;
    }
   
    .talentFund-large-title1{
        left: 20%;
    }

    .talentFund-large-title2{
        left: 40%;
    }

    
    
}

@media (min-width: 768px) and (max-width: 992px) {

    .downloadProgModal-modal-sbmt-btn{
        border-radius: 100%;
        width: 3.5rem;
    }

    .modal-large {
        max-width: 800px !important;
    }

    .talentFundModalLeft:after{
        content:"";
        position:absolute;
        top: 15%;
        right:0;
        width: .07rem;
        height: 70%;
        background:#0d224f25;
        opacity: .5;
    }

    .talentFund-large-title{
        position: absolute;
        top: -3.5rem;
    }
   
    .talentFund-large-title1{
        left: 20%;
    }

    .talentFund-large-title2{
        left: 40%;
    }
    
   
    
}

@media (min-width: 576px) and (max-width: 767px) {

    .downloadProgModal-modal-sbmt-btn{
        border-radius: 100%;
        width: 3.6rem;
    }

    .talentFund-title1{
        position: absolute;
        top: -3.5rem;
    }

    .talentFundModal-modal-sbmt-btn{
        width: 50% !important;
    }

    
}

@media (min-width: 330px) and (max-width: 576px) {
    .downloadProgModal-modal-sbmt-btn{
        border-radius: 100%;
        width: 3.6rem;
    }

    .talentFund-title1{
        position: absolute;
        top: -3.5rem;
    }

    .talentFundModal-modal-sbmt-btn{
        width: 50% !important;
    }

    .modal-top-title{
        position: absolute;
        top: -2.5rem;
        left: 27%;
    }

    
}

@media (min-width: 470px) and (max-width: 576px){

    .modalApply-top-title{

        position: absolute;
        top: -2.5rem;
        left: 26%;
        right: 18%;
    }
    .modalCall-top-title{
        position: absolute;
        top: -2.5rem;
        left: 20%;
        right: 15%;

    }

}

@media (min-width: 330px) and (max-width: 470px){

    .modalApply-top-title{

        position: absolute;
        top: -2.5rem;
        left: 20%;
        right: 15%;
    }

    .modalCall-top-title{
        position: absolute;
        top: -2.5rem;
        left: 20%;
        right: 15%;

    }

}
@media screen and (max-width: 330px) {

    .apply-modal-icon-img{
        width: 2.2rem;
    }

    .downloadProgModal-modal-sbmt-btn{
        border-radius: 100%;
        width: 25%;
    }

    .talentFund-title1{
        position: absolute;
        top: -3.5rem;
    }

    .talentFundModal-modal-sbmt-btn{
        width: 50% !important;
    }

    .modal-top-title{
        position: absolute;
        top: -2.5rem;
        left: 20%;
    }

    .modalApply-top-title{

        position: absolute;
        top: -2.5rem;
        left: 18%;
        right: 15%;
    }
    
    .modalCall-top-title{
        position: absolute;
        top: -2.5rem;
        left: 20%;
        right: 15%;

    }
}