.modal-content{
    border: 0;
}

.padding-modal-btn{
    padding-top: .7rem;
    padding-bottom: .7rem;
}

.modal-btn-hover-blue{
    -webkit-transition: ease-out 0.2s !important;
    -moz-transition: ease-out 0.2s !important;
    transition: ease-out 0.2s !important;
}

.modal-btn-hover-bluelight{
    -webkit-transition: ease-out 0.2s !important;
    -moz-transition: ease-out 0.2s !important;
    transition: ease-out 0.2s !important;
}

.modal-btn-hover-blue:hover{
    background-color: #0E5BA8 !important;
    -webkit-transition: ease-out 0.2s !important;
    -moz-transition: ease-out 0.2s !important;
    transition: ease-out 0.2s !important;
}

.modal-btn-hover-bluelight:hover{
    background-color: #0D224F !important;
    -webkit-transition: ease-out 0.2s !important;
    -moz-transition: ease-out 0.2s !important;
    transition: ease-out 0.2s !important;
}
#applyModal .modal-content, #scheduleCallModal .modal-content, #scheduleMeetModal .modal-content, 
#scheduleAdviser .modal-content, #moneyBackModal .modal-content, #talentFundModal .modal-content, #payMethodModal .modal-content,
#successModal .modal-content{
    border-radius: .9rem !important;
}

#successModal .modal-header{
    border-radius: .9rem.9rem 0 0 !important;
}

.apply-modal-sbmt-btn, .scheduleCall-modal-sbmt-btn, .scheduleMeetModal-modal-sbmt-btn, .scheduleAdviser-modal-sbmt-btn, 
.moneyBackModal-modal-sbmt-btn, .payMethodModal-modal-sbmt-btn{
    border-radius: 0 0 .9rem .9rem;
}

.apply-modal-icon-img{
    width: 2.5rem;
}

.apply-modal-icon-line{
    width: 2rem;
    height: .1rem;
    background-color: lightgray;
}

#icon-text-interv, #icon-text-task, #icon-text-muraciet{
    opacity: 0;
}

#icon-interv, #icon-muraciet, #icon-task{
    cursor: pointer;
}
.apply-modal-icon-line-tr1{
    width: 1rem;
    height: .1rem;
    background-color: transparent;
}
.apply-modal-icon-line-tr2{
    width: 1.4rem;
    height: .1rem;
    background-color: transparent;
}

.apply-icon-blue-list{
    background-color: #EBF3FB;
    border-radius: 100%;
}

.apply-icon-blue{
    filter: invert(23%) sepia(75%) saturate(1501%) hue-rotate(190deg) brightness(100%) contrast(97%);

}

.modals-input-bgr{
    background-color: #F6F9FC;
}

.color-input, #apply-modal-form >input::placeholder, #apply-modal-form >textarea::placeholder,
#scheduleCall-modal-form >input::placeholder,#scheduleCall-modal-form >textarea::placeholder, 
#scheduleMeetModal-modal-form >input::placeholder, #scheduleMeetModal-modal-form >textarea::placeholder,
#scheduleAdviser-modal-form >input::placeholder, #scheduleAdviser-modal-form >textarea::placeholder{
    font-size: .8rem !important;
    line-height: .98rem !important;
    font-style: italic;
    color: #828DA6;
}

.modal-top-title{
    position: absolute;
    top: -2.5rem;
    left: 30%;
}

.modalApply-top-title{

    position: absolute;
    top: -2.5rem;
    left: 25%;

}

.modalCall-top-title{
    position: absolute;
    top: -2.5rem;
    left: 20%;
    right: 15%;

}

/***************************************Bootcamp program download Modal****************/

.modalDownload-top-title{
    position: absolute;
    top: 1.1rem;
    left: 5%;
}
#downloadProgModal .modal-content{
    border-radius: 2rem 0 2rem 2rem;
}

.downloadProgModal-modal-sbmt-btn{
    border-radius: 100%;
    -webkit-transition: ease-out 0.2s !important;
    -moz-transition: ease-out 0.2s !important;
    transition: ease-out 0.2s !important;
}

.downloadProgModal-modal-sbmt-btn:hover{
    background-color: #0E5BA8;
    -webkit-transition: ease-out 0.2s !important;
    -moz-transition: ease-out 0.2s !important;
    transition: ease-out 0.2s !important;    
}


.downloadProgModal-input-btn-flex >input{
    border-radius: 1rem 0 0 1rem ;
}
.downloadProgModal-input-btn-flex >input::placeholder{
    font-size: .8rem !important;
    line-height: .98rem !important;
    font-style: italic;
    color: #828DA6;
}

/*******************************Talent fund Modal*********************/

.talentFundModal-modal-sbmt-btn{
    border-radius: .9rem 0 .9rem 0;
}

.input-time{
    width: 25%;
}

.input-date{
    width: 75%;
    position: relative;
}

.input-date::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

/*************************************************Success Modal***********************************/

.modal-confirm .modal-content {
	padding: 20px;
	border: none;
}

.modal-confirm .modal-header {
	background: #0D224F;
	border-bottom: none;   
	position: relative;
	margin: -20px -20px 0;
	padding: 35px;
}

.modal-confirm .close {
	position: absolute;
	top: 15px;
	right: 15px;
	color: #fff;
	text-shadow: none;
}
.modal-confirm .close:hover {
	opacity: 0.8;
}
.modal-confirm .icon-box {
	color: #fff;		
	width: 95px;
	height: 95px;
	display: inline-block;
	border-radius: 50%;
	z-index: 9;
	border: 5px solid #fff;
	padding: 15px;
	text-align: center;
}
.modal-confirm .icon-box i {
	font-size: 64px;
	margin: -4px 0 0 -4px;
}



@media (min-width: 1200px){

    .downloadProgModal-modal-sbmt-btn{
        border-radius: 100%;
    }

    .payMethodModalLeft:after{
        content:"";
        position:absolute;
        top: 8%;
        right:0;
        width: .07rem;
        height: 92%;
        background:#0d224f86;
        opacity: 1;
    }

    .talentFundModalLeft:after{
        content:"";
        position:absolute;
        top: 15%;
        right:0;
        width: .07rem;
        height: 70%;
        background:#0d224f25;
        opacity: .5;
    }

    
    .talentFund-large-title{
        position: absolute;
        top: -3.5rem;
    }
   
    .talentFund-large-title1{
        left: 20%;
    }

    .talentFund-large-title2{
        left: 40%;
        right: 60%;
    }

}



@media (min-width: 992px) and (max-width: 1199px) {

    .downloadProgModal-modal-sbmt-btn{
        border-radius: 100%;
    }

    .payMethodModalLeft:after{
        content:"";
        position:absolute;
        top: 15%;
        right:0;
        width: .07rem;
        height: 80%;
        background:#0d224f25;
        opacity: 1;
    }

    .talentFundModalLeft:after{
        content:"";
        position:absolute;
        top: 15%;
        right:0;
        width: .07rem;
        height: 70%;
        background:#0d224f25;
        opacity: .5;
    }

    .talentFund-large-title{
        position: absolute;
        top: -3.5rem;
    }
   
    .talentFund-large-title1{
        left: 20%;
    }

    .talentFund-large-title2{
        left: 40%;
        right: 60%;
    }

    .apply-modal-icon-line-tr2{
        width: 1.8rem;
        height: .1rem;
        background-color: transparent;
    }

    
    
}

@media (min-width: 768px) and (max-width: 992px) {

    .downloadProgModal-modal-sbmt-btn{
        border-radius: 100%;
    }

    .modal-large {
        max-width: 800px !important;
    }

    .payMethodModalLeft:after{
        content:"";
        position:absolute;
        top: 15%;
        right:0;
        width: .07rem;
        height: 80%;
        background:#0d224f25;
        opacity: 1;
    }

    .talentFundModalLeft:after{
        content:"";
        position:absolute;
        top: 15%;
        right:0;
        width: .07rem;
        height: 70%;
        background:#0d224f25;
        opacity: .5;
    }

    .talentFund-large-title{
        position: absolute;
        top: -3.5rem;
    }
   
    .talentFund-large-title1{
        left: 20%;
    }

    .talentFund-large-title2{
        left: 40%;
        right: 60%;
    }
    

    .apply-modal-icon-line-tr2{
        width: 1rem;
        height: .1rem;
        background-color: transparent;
    }
   
    
}

@media (min-width: 576px) and (max-width: 767px) {

    .downloadProgModal-modal-sbmt-btn{
        border-radius: 100%;
    }

    .talentFund-title1{
        position: absolute;
        top: -3.5rem;
        left: 25%;
    }

    .talentFundModal-modal-sbmt-btn{
        width: 50% !important;
    }

    
}

@media (min-width: 330px) and (max-width: 576px) {
    .downloadProgModal-modal-sbmt-btn{
        border-radius: 100%;
    }

    .talentFundModal-modal-sbmt-btn{
        width: 50% !important;
    }

    .modal-top-title{
        position: absolute;
        top: -2.5rem;
        left: 27%;
    }

    
}

@media (min-width: 470px) and (max-width: 576px){

    .modalApply-top-title{

        position: absolute;
        top: -2.5rem;
        left: 26%;
        right: 18%;
    }
    .modalCall-top-title{
        position: absolute;
        top: -2.5rem;
        left: 20%;
        right: 15%;

    }

    .modalDownload-top-title{
        position: absolute;
        top: 1.1rem;
        left: 5%;
        right: 10%;
    }

    .talentFund-title1{
        position: absolute;
        top: -3.5rem;
        left: 25%;
    }
}

@media (min-width: 330px) and (max-width: 470px){

    .modalApply-top-title{

        position: absolute;
        top: -2.5rem;
        left: 20%;
        right: 15%;
    }

    .modalCall-top-title{
        position: absolute;
        top: -2.5rem;
        left: 20%;
        right: 15%;

    }

    .modalDownload-top-title{
        position: absolute;
        top: 1.1rem;
        left: 5%;
        right: 10%;
    }

    .talentFund-title1{
        position: absolute;
        top: -3.5rem;
        left: 20%;
    }

}
@media screen and (max-width: 330px) {

    .apply-modal-icon-img{
        width: 2.2rem;
    }

    .downloadProgModal-modal-sbmt-btn{
        border-radius: 100%;
    }

    .talentFund-title1{
        position: absolute;
        top: -3.5rem;
    }

    .talentFundModal-modal-sbmt-btn{
        width: 75% !important;
    }

    .modal-top-title{
        position: absolute;
        top: -2.5rem;
        left: 20%;
    }

    .modalApply-top-title{

        position: absolute;
        top: -2.5rem;
        left: 18%;
        right: 15%;
    }
    
    .modalCall-top-title{
        position: absolute;
        top: -2.5rem;
        left: 20%;
        right: 15%;

    }

    .apply-modal-icon-line-tr1{
        width: 2rem;
        height: .1rem;
        background-color: transparent;
    }

    .modalDownload-top-title{
        position: absolute;
        top: 1.1rem;
        left: 5%;
        right: 12%;
    }
}