*{
    box-sizing: border-box;
    font-family: 'Montserrat', 'sans-serif';
}

html, body{
    width: 100%;
    overflow-x:hidden;
}
header{
    position: relative;
}

.font-semibold{
    font-weight: 600;
}

.font-medium{
    font-weight: 500;
}

.font-medium-italic{
    font-weight: 500;
    font-style: italic;
}

.font-regular{
    font-weight: 400;
}

.text-paragraph-20{
    font-size: .78rem;
    line-height: .9rem;
}

.text-paragraph-16{
    font-size: .68rem;
    line-height: .9rem;
}

.text-heading-48{
    font-size: 1.7rem;
}

.color-parag{
    color: #000D2A;
}
.blue-heading{
    color: #0E5BA8;
}

.blue-heading-bold{
    color: #0D224F;
}

.light-blue-bgr{
    background-color: #418DD8;
}
.blue-bgr{
    background-color: #0E5BA8;
}

.blue-bold-bgr{
    background-color: #0D224F;
}

/* .blue-bgr:hover{
    
} */

.blue-bold-bgr:hover{
    border: 1px solid #0D224F;
    color: #0D224F;
    background: none;
}

.bgr-none-btn{
    border: 1px solid #0D224F;
    background: none;
} 

.bgr-none-btn:hover{
    border: 1px solid transparent;
    color: white;
    background-color: #0D224F;

}

.lghtgray-bgr{
    background-color: #EFF2F7;
}

.prog-plan-bgr{
    background-color: #F8FAFD;
}

.prog-btn-padding{
    padding: .6rem 2rem;
}

.progress{
    border-radius: 0;
    height: 1.9rem;
    width: 12rem;
    position: relative;
    
}



.progress-bar-title{
    position: absolute;
    line-height: 1.9rem;
    color: white;
}
.logo-img {
    width: 7.5rem;
    height: 2.1rem;
}

.nav-item {
    font-size: .8rem;
}

.nav-item > a:after{
    content: '';
    display: block;
    height: 1px;
    background: #EFF2F7;
    transform: scaleX(0);
    transition: transform .3s;
}
.nav-item > a:hover:after{
    transform: scaleX(1);
    transition: transform .3s;
}

.toggle-icon {
    font-size: 2.5rem;
}


.icons-gray {
    filter: invert(92%) sepia(67%) saturate(15%) hue-rotate(242deg) brightness(104%) contrast(50%);
}

.landing-center {
    margin-top: 11rem;
}

.social-media {
    margin-top: 17rem;
}

.social-media .social-icons {
    transition: transform 0.3s ease;
}

.social-media li a:hover .social-icons {
    transform: translateX(20px);
}

.landing-center-heading {
    font-size: 2.6rem;
}

.landing-center-text {
    font-weight: 300;
    font-size: 0.9rem;
    line-height: 1.1rem;
}

.landing-buttons {
    margin-top: 6.25rem;
    font-size: .87rem;
}

.btn-padding{
    padding: .6rem 2.8rem;
}


.apply-button {
    color: white;
    border: 1px solid transparent;
}

.btn-outline-none:focus{
    outline: none;
}

.plan-button {
    color: white;
    background-color: transparent;
    border: 1px solid white;
}


.become-d-s{
    position: relative;
    margin-top: 8rem;
}

.become-d-s-heading{
    font-size: 2.1rem;
}

.icon-width{
    width: 5rem;
}

.border-between{
    height: 16rem;
    width: .1rem;
    background-color: #E0ECF8;
}

.icon-width-check{
    width: 2rem;
}

.aspiring-d-s-text{
    color: #0D224F;
}



/*****************Bootcamp program*********/
.bootcamp-prog-list li:hover {
    background-color: #0D224F;
}

.bootcamp-prog-list li:hover .bootcamp-prog-list-heading{
    color: white;
}

.bootcamp-prog-list li:hover .chevron-prog path{
    stroke: #ffffff;
}
.bootcamp-prog-list-heading{
    color: #000D2A;
}

.bootcamp-prog-list li{
    cursor: pointer;
}


/******************************Bootcamp program div show hide*********************/

.prog-info-div{
    display: none;
}

#prog-info1{
    display: block;
}


@media screen and (max-width: 575px){
    .d-xs-sm-none{
        display: none;
    }
    .icon-width-check{
        width: 1.4rem;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .d-xs-sm-none{
        display: none;
    }
    .icon-width-check{
        width: 1.5rem;
    }

    .aspiring-heading-center{
        flex: 0 0 600px;
    }
    
}

@media (min-width: 768px) and (max-width: 991px) {
  
    .aspiring-heading-center{
        flex: 0 0 600px;
    }
    .list-center{
        flex: 0 0 370px;
    }

    
}

@media (min-width: 992px) and (max-width: 1199px){
    
    .aspiring-heading-center{
        flex: 0 0 600px;
    }
    .list-center{
        flex: 0 0 400px;
    }

    .bootcamp-prog-heading-div{
        flex: 0 0 360px;
        height: 320px;
    }

    .bootcamp-prog-ul{
        height: 100%;
    }

    .bootcamp-prog-info-div{
        flex: 0 0 420px;
    }
}

@media (min-width: 1200px){
    .aspiring-heading-center{
        flex: 0 0 600px;
    }
    .list-center{
        flex: 0 0 380px;
    }

    .bootcamp-prog-heading-div{
        flex: 0 0 340px;
        height: 320px;
    }

    .bootcamp-prog-ul{
        height: 100%;
    }
    .bootcamp-prog-info-div{
        flex: 0 0 670px;
    }
    
} 