*{
    box-sizing: border-box;
    font-family: 'Montserrat', 'sans-serif'; 
}

*:focus {
    outline: none;
}

html, body{
    width: 100%;
    overflow-x:hidden;
}
header{
    position: relative;
}

.font-light{
    font-weight: 300;
}

.font-semibold{
    font-weight: 600;
}

.font-medium{
    font-weight: 500;
}

.font-medium-italic{
    font-weight: 500;
    font-style: italic;
}

.font-regular{
    font-weight: 400;
}

.font-italic{
    font-style: italic;
}

.text-paragraph-36{
    font-size: 1.28rem;
    line-height: 1.4rem
}

.text-paragraph-32{
    font-size: 1.2rem;
    line-height: 1.4rem
}
.text-paragraph-25{
    font-size: 0.9rem;
    line-height: 1.2rem
}

.text-paragraph-24{
    font-size: 0.85rem;
    line-height: .98rem
}


.text-paragraph-20{
    font-size: .78rem !important;
    line-height: .9rem !important;
}

.text-paragraph-18{
    font-size: .72rem !important;
    line-height: .95rem !important;
}

.text-paragraph-16{
    font-size: .68rem;
    line-height: .9rem;
}

.text-heading-84{
    font-size: 3.2rem;
}
.text-heading-54{
    font-size: 1.9rem;
}
.text-heading-48{
    font-size: 1.7rem;
}

.text-heading-30{
    font-size: 1rem
}

.color-parag{
    color: #000D2A;
}
.blue-heading{
    color: #0E5BA8;
}

.blue-heading-bold{
    color: #0D224F;
}

.light-blue-bgr{
    background-color: #418DD8;
}
.blue-bgr{
    background-color: #0E5BA8;
}

.blue-bold-bgr{
    background-color: #0D224F;
}

.blue-bold-bgr-btn{
    background-color: #0D224F;
}

/* .blue-bgr:hover{
    
} */

.blue-bold-bgr-btn:hover{
    border: 1px solid #0D224F;
    color: #0D224F;
    background: none;
}

.bgr-none-btn{
    border: 1px solid #0D224F;
    background: none;
} 

.bgr-none-btn:hover{
    border: 1px solid transparent;
    color: white;
    background-color: #0D224F;

}

.lghtgray-bgr{
    background-color: #EFF2F7;
}

.prog-plan-bgr{
    background-color: #F8FAFD;
}

.prog-btn-padding{
    padding: .6rem 2rem;
}

.progress{
    border-radius: 0;
    height: 1.9rem;
    width: 12rem;
    position: relative;
    
}

.progress-bar-text{
    line-height: 1.9rem;
    background-color: white;
}
.progress-bar-title{
    position: absolute;
    line-height: 1.9rem;
    color: white;
}

.logo-img {
    width: 7.5rem;
    height: 2.1rem;
}

.nav-item {
    font-size: .8rem;
}

.nav-item > a:after{
    content: '';
    display: block;
    height: 1px;
    background: #EFF2F7;
    transform: scaleX(0);
    transition: transform .3s;
}
.nav-item > a:hover:after{
    transform: scaleX(1);
    transition: transform .3s;
}

.toggle-icon {
    font-size: 2.5rem;
}


.icons-gray {
    filter: invert(92%) sepia(67%) saturate(15%) hue-rotate(242deg) brightness(104%) contrast(50%);
}

.landing-center {
    margin-top: 11rem;
}

.social-media {
    margin-top: 17rem;
}

.social-media .social-icons {
    transition: transform 0.3s ease;
}

.social-media li a:hover .social-icons {
    transform: translateX(20px);
}

.landing-center-heading {
    font-size: 2.6rem;
}

.landing-center-text {
    font-weight: 300;
    font-size: 0.9rem;
    line-height: 1.1rem;
}

.landing-buttons {
    margin-top: 6.25rem;
    font-size: .87rem;
}

.btn-padding{
    padding: .6rem 2.8rem;
}


.apply-button {
    color: white;
    border: 1px solid transparent;
}

.btn-outline-none:focus{
    outline: none;
}

.plan-button {
    color: white;
    background-color: transparent;
    border: 1px solid white;
}


.become-d-s{
    position: relative;
    margin-top: 8rem;
}

.become-d-s-heading{
    font-size: 2.1rem;
}

.icon-width{
    width: 5rem;
}

.border-between{
    height: 16rem;
    width: .1rem;
    background-color: #E0ECF8;
}

.icon-width-check{
    width: 2rem;
}

.aspiring-d-s-text{
    color: #0D224F;
}



/*****************Bootcamp program*********/
.bootcamp-prog-list li:hover {
    background-color: #0D224F;
}

.bootcamp-prog-list li:hover .bootcamp-prog-list-heading{
    color: white;
}

.bootcamp-prog-list li:hover .chevron-prog path{
    stroke: #ffffff;
}
.bootcamp-prog-list-heading{
    color: #000D2A;
}

.bootcamp-prog-list li{
    cursor: pointer;
}

.select-border{
    border: none;
    
}


optgroup{
    
    font-size: .78rem;
    line-height: .9rem;
    color: #000D2A;
}





/******************************Bootcamp program div show hide*********************/

.prog-info-div{
    display: none;
}

#prog-info1{
    display: block;
}



/***********************************Networking**************************/

.network-images-container{
    border-radius: 1.2rem;
    background-color: white;
    box-shadow: 0px 0px 10px 10px #FAFAFC;
    /* max-width: 225px; */
}

.border-network{
    border-right: 2px solid #FAFAFC;
    border-bottom: 2px solid #FAFAFC ;
}
.border-bottom-network{
    border-bottom: 2px solid #FAFAFC ;
}

.network-img{
    width: 14rem;
    height: 9rem;
}

/*****************************************Interview and Resume**************************/

.interv-resume-underline{
    width: 22rem;
    height: .1rem;
    background-color: #e9e7e7;
}

.interv-resume-div{
    display: none;
}

#interv-info1{
    display: block;
}


.interv-resume-ul li{
    display: inline;
}
.interv-resume-info-div{
    border-radius: .5rem;
}
.interv-resume{
    position: absolute;
}
.interv-resume-list-item{
    width: 13%;
    height: 9rem;
    border-radius: 1rem;
    cursor: pointer;
}

/* .interv-resume-list-line{
    position: relative;
    width: 22rem;
    height: .1rem;
    background-color: #0E5BA8;
} */

.interv-resume-list-item:hover{
    color: white !important;
    background: #0E5BA8;
    transform: scale(1.03);
}


/*********************Mentors***********************/

.mentor-name{
    display: none;
}

#name-mentor-img1{
    display: block;
}

.mentor-about-div{
    display: none;
}

#about-mentor-img1{
    display: block;
}
.mentor-job{
    width: fit-content;
}


.mentor-img{
    border-radius: 100%;
    width: 5rem;
    height: 5rem;
    transition: all .3s ease-in-out;
    transform: scale(1);
    
}
.mentor-img:hover{
    transform: scale(1.6);
    
}

.mentor-name{
    transition: all .3s ease-in-out;
}

/***********************************************Start app***********************************/

.start-app-order-one {
    padding: 1rem 1.85rem !important;
    border-radius: 100%;
} 

.start-app-order {
    padding: 1rem 1.6rem;
    border-radius: 100%;
}
.start-app-content ul li.start-app-order-line {
    position: relative;
}

  .start-app-content ul li .ordering-line{
    position:absolute;
    width: .1rem;
    top: 60%;
    bottom:0;
    background-color: #0E5BA8;
    height: 5rem;
  }
  

.animate-start-app{
    opacity:0;
}


/**************************************************Finance part***********************************/

.card.finance-card{
    background-color: #418DD8 !important;
    width: 20.8rem !important;
    border-radius: 1%;
    position: relative;
}

.finance-card-btn{
    position: absolute;
    left: 87%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


.card.tution-total-card{
    width: 20rem !important;
}

.btn-tution-padding{
    padding: .65rem 2.45rem;
}

.pay-tution-btn{
    border: 1px solid #418DD8;
    padding: .65rem 1.6rem;
    color: #418DD8;
}



















@media screen and (max-width: 329px){

    .d-md-sm-xs-none{
        display: none;
    }

    .progress-ds{
        width: 90%;
    }

    .progress-de{
        width: 80%;
    }

    .progress-da{
        width: 55%;
    }

    .network-img{
        width: 8.5rem;
        height: 6rem;
    }

    .interv-resume-select{
        max-width: 100%;
    }

    .justify-content-sm-xs-center{
        justify-content: center;
    }

    .start-app-content ul li.first{
        flex: 0 0 55%;
        justify-content: start !important;
    }
    
    .start-app-content ul li.second{
        flex: 0 0 35%;
    }
    
    .start-app-content ul li.third{
        flex: 0 0 70%;
        text-align: left !important;
    }

    .ordering-line{
        display: none;
    }
}


@media (min-width: 330px) and (max-width: 576px){
    
    .d-xs-sm-none{
        display: none;
    }
    .icon-width{
        width: 3rem;
    }
    .icon-width-check{
        width: 1.4rem;
    }

    .d-md-sm-xs-none{
        display: none;
    }
    .progress-ds{
        width: 70%;
    }

    .progress-de{
        width: 60%;
    }

    .progress-da{
        width: 40%;
    }
    .network-img{
        width: 10rem;
        height: 6rem;
    }

    .interv-resume-select{
        max-width: 100%;
    }

    .justify-content-sm-xs-center{
        justify-content: center;
    }

    .start-app-content ul li.first{
        flex: 0 0 55%;
        justify-content: start !important;
    }
    
    .start-app-content ul li.second{
        flex: 0 0 35%;
    }
    
    .start-app-content ul li.third{
        flex: 0 0 70%;
        text-align: left !important;
    }

    .ordering-line{
        display: none;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .d-xs-sm-none{
        display: none;
    }
    .icon-width{
        width: 4rem;
    }
    .icon-width-check{
        width: 1.5rem;
    }

    .aspiring-heading-center{
        flex: 0 0 600px;
    }
    .d-md-sm-xs-none{
        display: none;
    }
    .progress-ds{
        width: 98%;
    }

    .progress-de{
        width: 87%;
    }

    .progress-da{
        width: 65%;
    }
    .network-img{
        width: 10rem;
        height: 6rem;
    }

    .interv-resume-select{
        max-width: 100%;
    }

    .justify-content-sm-xs-center{
        justify-content: center;
    }

    .start-app-content ul li.first{
        flex: 0 0 55%;
        justify-content: start !important;
    }
    
    .start-app-content ul li.second{
        flex: 0 0 35%;
    }
    
    .start-app-content ul li.third{
        flex: 0 0 70%;
        text-align: left !important;
    }

    .ordering-line{
        display: none;
    }

    
    
}

@media (min-width: 768px) and (max-width: 991px) {
    #particles-js, .become-d-s-container, .bootcamp-program-container, .networking-container, .alumni-testimonial-container, .interv-resume-container, .mentors-container, .start-app-container, .finance-container{
        height: 100vh;
    }
    .dsply-md-none{
        display: none;
    }
    .aspiring-heading-center{
        flex: 0 0 600px;
    }
    .list-center{
        flex: 0 0 370px;
    }
    .d-md-sm-xs-none{
        display: none;
    }

    .progress-ds{
        width: 93%;
    }

    .progress-de{
        width: 83%;
    }

    .progress-da{
        width: 60%;
    }

    .interv-resume-small-dvc-container{
        display: none;
    }
    
    .interv-resume-info-div{
        width: 88%;
    }
    
    .interv-resume-list-item{
        width: 20%;
        height: 11rem;
    }

    .start-app-content ul li.first{
        flex: 0 0 30%;
        text-align: right;
    }
    
    .start-app-content ul li.second{
        flex: 0 0 20%;
    }
    
    .start-app-content ul li.third{
        flex: 0 0 30%;
    }
    
}

@media (min-width: 992px) and (max-width: 1199px){

    #particles-js, .become-d-s-container, .bootcamp-program-container, .networking-container, .alumni-testimonial-container, .interv-resume-container, .mentors-container, .start-app-container, .finance-container{
        height: 100vh;
    }

    .dsply-xl-lg-none{
        display: none;
    }
    .aspiring-heading-center{
        flex: 0 0 600px;
    }
    .list-center{
        flex: 0 0 400px;
    }

    .bootcamp-prog-small-dvc-container{
        display: none;
    }
    

    .bootcamp-prog-heading-div{
        flex: 0 0 360px;
        height: 320px;
    }

    .bootcamp-prog-ul{
        height: 100%;
    }

    .bootcamp-prog-info-div{
        flex: 0 0 420px;
    }

    .progress-ds{
        width: 80%;
    }

    .progress-de{
        width: 70%;
    }

    .progress-da{
        width: 45%;
    }

    .interv-resume-small-dvc-container{
        display: none;
    }

    .interv-resume-info-div{
        width: 88%;
    }
    
    .interv-resume-list-item{
        width: 16%;
        height: 11rem;
    }

    .start-app-content ul li.first{
        flex: 0 0 30%;
        text-align: right;
    }
    
    .start-app-content ul li.second{
        flex: 0 0 20%;
    }
    
    .start-app-content ul li.third{
        flex: 0 0 30%;
    }

    .dsply-lg-none {
        display: none;
    }

    .card.finance-card{
        width: 18rem !important;
    }

    
}

@media (min-width: 1200px){
    #particles-js, .become-d-s-container, .bootcamp-program-container, .networking-container, .alumni-testimonial-container, .interv-resume-container, .mentors-container, .finance-container{
        height: 100vh;
    }
    .dsply-xl-lg-none{
        display: none;
    }
    .aspiring-heading-center{
        flex: 0 0 600px;
    }
    .list-center{
        flex: 0 0 380px;
    }

    .bootcamp-prog-small-dvc-container{
        display: none;
    }

    .bootcamp-prog-heading-div{
        flex: 0 0 340px;
        height: 320px;
    }

    .bootcamp-prog-ul{
        height: 100%;
    }
    .bootcamp-prog-info-div{
        flex: 0 0 670px;
    }

    .progress-ds{
        width: 55%;
    }
    
    .progress-de{
        width: 40%;
    }

    .progress-da{
        width: 30%;
    }

    .interv-resume-small-dvc-container{
        display: none;
    }

    .interv-resume-info-div{
        width: 70%;
    }

    .start-app-content ul li.first{
        flex: 0 0 30%;
        text-align: right;
    }
    
    .start-app-content ul li.second{
        flex: 0 0 20%;
    }
    
    .start-app-content ul li.third{
        flex: 0 0 30%;
    }
} 