.alumni-testimonial-container{
    background-color: #0E5BA8;
}

.alumni-logo-img{
    width: 9rem;
    height: 5rem;
}
.card {
    position: relative;
    display: flex;
    width: 16rem !important;
    flex-direction: column;
    background-color: #fff;
    border-radius: .69rem;
}

.card .card-body {
    padding: 1rem 1rem;
    padding-bottom: .5rem;
}

.card-body p {
    font-size: 0.875rem;
    margin-bottom: .5rem;
    line-height: 1.5rem
}

.slick-prev:before {
    content: url('../img/icons/test-left.png') !important;
}

.slick-next:before {
    content: url('../img/icons/test-right.png') !important; 
}

.items {
    width: 100%;
    margin: 0px auto;
}

.slick-slide {
    margin: .875rem
}

.slick-prev, .slick-next{
    top: 100% !important;
}

.slick-prev{
    left: 45% !important;
}

.slick-next{
    left: 52% !important;
}

.profile-image {
    border-radius: 100%;
}

.alumni-name-underline{
    width: 8.2rem;
    height: .004rem;
    background-color: #dfdede;
}
@media (min-width: 992px) and (max-width: 1199px) {

    .slick-prev, .slick-next {
        top: 50% !important;
    }

    .slick-prev {
        left: 40% !important;
    }
    
    .slick-next {
        left: 55% !important;
    }
    
}

@media (min-width: 768px) and (max-width: 991px) {

    .slick-prev, .slick-next {
        top: 95% !important;
    }

    .slick-prev {
        left: 40% !important;
    }
    
    .slick-next {
        left: 55% !important;
    }
    .card {
        width: 13rem !important;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    
    .slick-prev, .slick-next {
        top: 93% !important;
    }

    .slick-prev {
        left: 42% !important;
    }
    
    .slick-next {
        left: 58% !important;
    }

    .card {
        width: 12rem !important;
    }

    .profile-image {
        width: 8.5rem !important;
    }

    .alumni-logo-img {
        width: 8rem;
        height: 4.5rem;
    }
}

@media (min-width: 330px) and (max-width: 576px) {

    .slick-prev, .slick-next {
        top: 90% !important;
    }

    .slick-prev {
        left: 40% !important;
    }
    
    .slick-next {
        left: 55% !important;
    }

    .card {
        width: 12rem !important;
    }

    .profile-image {
        width: 7rem !important;
    }

    .alumni-logo-img {
        width: 7rem;
        height: 4.5rem;
    }
}

@media screen and (max-width: 329px) {

    .slick-prev, .slick-next {
        top: 90% !important;
    }

    .slick-prev {
        left: 30% !important;
    }
    
    .slick-next {
        left: 60% !important;
    }

    .card {
        width: 12rem !important;
    }

    .profile-image {
        width: 6rem !important;
    }

    .alumni-logo-img {
        width: 6rem;
        height: 4.1rem;
    }
}