

@media (max-width:991.98px) {
    .slick-prev, .slick-next{
        top: 70% !important;
    }
    
}

@media (max-width:767.98px) {
    
}



.card {
    position: relative;
    display: flex;
    width: 16rem !important;
    flex-direction: column;
    background-color: #fff;
    border-radius: .69rem;
}

.card .card-body {
    padding: 1rem 1rem;
    padding-bottom: .5rem;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem
}

.card-body p {
    font-size: 0.875rem;
    margin-bottom: .5rem;
    line-height: 1.5rem
}

.slick-prev:before{
    content: url('../img/icons/test-left.png') !important;
    display: inline-block; 
    width: 2px;
}
.slick-next:before{
    content: url('../img/icons/test-right.png') !important; 
}
.items {
    width: 90%;
    margin: 0px auto;
}

.slick-slide {
    margin: .875rem
}

.slick-prev, .slick-next{
    top: 100% !important;
}

.slick-prev{
    left: 45% !important;
}

.slick-next{
    left: 52% !important;
}


.profile-image {
    border-radius: 100%;
    
}

@media (min-width: 992px) and (max-width: 1199px){
    .slick-prev, .slick-next{
        top: 55% !important;
    }
    
}

@media (min-width: 768px) and (max-width: 991px){
    .slick-prev, .slick-next{
        top: 108% !important;
    }
}